* {
box-sizing: border-box;

}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #EEEEEE;
    overflow-x: scroll;
    
}

/* -- header --  */
header{
    background-color: #CF2B2B;
    color: white;
    height: 92px;
    width: 100vw;
    position: relative;
    
    position: fixed;
    top: 0;
    left: 0;

    box-shadow: 0px 4px 4px 0px #00000040;

}

header h1{
    font-size: 44px;
    font-weight: 400;

    position: absolute;
    top: 12px;
    left: 15px;
}

header p {
    font-size: 18px;
    font-weight: 400;
    
    position: absolute;
    top: 55px;
    left: 15px;

}


/* --conteudo-- */
main{
    margin-top: 127px;
    margin-left: 15px;
    margin-bottom: 115px;
}


img{
    width: 144px;
    height: 87px;
    margin: 14px auto 8px auto;
    border-radius: 4px;
}

.menu{
    display: flex;
    overflow-x: scroll;
    margin-bottom: 1.5em;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #333333;
    height: 25px;
    
}

.menu__card{
    height: 216px;
    width: 172px;
    background-color: rgb(187, 235, 230);
    
    border-radius: 9px;
    border: 5px solid white;

    box-shadow: 0px 0px 10px -4px #00000040;
    display: flex;
    flex-direction: column;
    margin-top: 0.8rem;
    margin-right: 1rem;

    cursor: pointer;
    
}

.menu__card strong {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;

    margin-left: 15px;
    margin-bottom: 7px;
}

.menu__card small {
    font-size: 15px;
    font-weight: 300;
    line-height: 17px;
    color: #a6a6a6;

    margin-left: 15px;
}

.menu__card p{
    margin-left: 15px;
    margin-top: 0.5rem;
    font-size: 16px;
}




/* --footer-- */

footer{
    height: 92px;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    
    position: relative;
    position: fixed;
    bottom: 0;
    left: 0;

}

footer div{
    width: 364px;
    height: 61px;
    border-radius: 50px;
    margin: auto;
    margin-top: 18px;
    

    background-color: #CBCBCB;
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: white;
    line-height: 23px;
    font-size: 20px;
}